global
    maxconn 256

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend socks_proxy
    bind *:9150
    default_backend tor_backends

backend tor_backends
    balance roundrobin
    server tor1 tor-1:9150 check inter 10s fall 3 rise 2
    server tor2 tor-2:9150 check inter 10s fall 3 rise 2
    server tor3 tor-3:9150 check inter 10s fall 3 rise 2
